@model IEnumerable<K22CNT3_lehoanglong_2210900037.Models.Sukien>


<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    .content {
        position: relative;
        left: 5%;
        width: 80%;
        height: 100%;
    }
</style>
<div class="content">

    <h2>Sự Kiện</h2>

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tieude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noidung)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tieude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.noidung)
                </td>
      
            </tr>
        }

    </table>
</div>