<style>
    main {
        position: absolute;
        left: 20%;
        width: 120%;
        height: 100%;
    }
</style>
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <address style="color:cornflowerblue">
        Web Wuthering wave , Nơi các con simp sinh ra và các con nghiện gacha chết tâm . 
        
        <p>Hãy ấn nút đăng nhập góc dưới bên trái để đăng nhập , nếu không có tài khoản thì hãy ấn vào nút đăng ký </p>
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:lehoanglong26072004@gmail.com">lehoanglong26072004@gmail.com</a>
    </address>
</main>