@{

    ViewBag.Title = "Home Page";
}
<style>
    main {
        position: absolute;
        left: 20%;
        width: 120%;
        height: 100%;
    }
</style>
    <<main>

    <section class="row" aria-labelledby="aspnetTitle">

        <h1 id="title">Wuthering Wave</h1>

        <p class="lead" style="font-family:bold">Muốn biết thêm chi tiết thì hãy ấn vào dưới đây</p>

        <p><a href="http://127.0.0.1:5500/wuwa.html" class="btn btn-primary btn-md">Learn more &raquo;</a></p>

    </section>

    <div class="row" style="color:forestgreen">

        <h2>Chào mừng bạn đến với trang chủ của Wuthering Wave </h2>

    </div>

</main>